<div class="page">

  <div class="page-title">
    <h3>klikni na kolo štěstí a vylosuj random aktivitu!</h3>
  </div>

  <div class="wheel-wrapper">
    <ngx-wheel
      #wheel
      [width]="width"
      [height]="height"
      [spinDuration]='8'
      [disableSpinOnClick]='true'
      [items]='items'
      [innerRadius]='50'
      [spinAmount]='10'
      [textOrientation]='textOrientation'
      [textAlignment]='textAlignment'
      pointerStrokeColor='black'
      pointerFillColor='gold'
      [idToLandOn]='idToLandOn'
      (onSpinStart)='before()'
      (onSpinComplete)='after()'
      (click)='onSpin()'
    >
    </ngx-wheel>

  </div>
</div>
